div {
  display: block;
  float: left;
  width: 16px; height: 16px;
  margin: 10px;
}

#accept { background: url(../images/embed/accept.png); }
#add { background: url(../images/embed/add.png); }
#anchor { background: url(../images/embed/anchor.png); }
#application { background: url(../images/embed/application.png); }
#application_add { background: url(../images/embed/application_add.png); }
#application_cascade { background: url(../images/embed/application_cascade.png); }
#application_delete { background: url(../images/embed/application_delete.png); }
#application_double { background: url(../images/embed/application_double.png); }
#application_edit { background: url(../images/embed/application_edit.png); }
#application_error { background: url(../images/embed/application_error.png); }
#application_form { background: url(../images/embed/application_form.png); }
#application_form_add { background: url(../images/embed/application_form_add.png); }
#application_form_delete { background: url(../images/embed/application_form_delete.png); }
#application_form_edit { background: url(../images/embed/application_form_edit.png); }
#application_form_magnify { background: url(../images/embed/application_form_magnify.png); }
#application_get { background: url(../images/embed/application_get.png); }
#application_go { background: url(../images/embed/application_go.png); }
#application_home { background: url(../images/embed/application_home.png); }
#application_key { background: url(../images/embed/application_key.png); }
#application_lightning { background: url(../images/embed/application_lightning.png); }
#application_link { background: url(../images/embed/application_link.png); }
#application_osx { background: url(../images/embed/application_osx.png); }
#application_osx_terminal { background: url(../images/embed/application_osx_terminal.png); }
#application_put { background: url(../images/embed/application_put.png); }
#application_side_boxes { background: url(../images/embed/application_side_boxes.png); }
#application_side_contract { background: url(../images/embed/application_side_contract.png); }
#application_side_expand { background: url(../images/embed/application_side_expand.png); }
#application_side_list { background: url(../images/embed/application_side_list.png); }
#application_side_tree { background: url(../images/embed/application_side_tree.png); }
#application_split { background: url(../images/embed/application_split.png); }
#application_tile_horizontal { background: url(../images/embed/application_tile_horizontal.png); }
#application_tile_vertical { background: url(../images/embed/application_tile_vertical.png); }
#application_view_columns { background: url(../images/embed/application_view_columns.png); }
#application_view_detail { background: url(../images/embed/application_view_detail.png); }
#application_view_gallery { background: url(../images/embed/application_view_gallery.png); }
#application_view_icons { background: url(../images/embed/application_view_icons.png); }
#application_view_list { background: url(../images/embed/application_view_list.png); }
#application_view_tile { background: url(../images/embed/application_view_tile.png); }
#application_xp { background: url(../images/embed/application_xp.png); }
#application_xp_terminal { background: url(../images/embed/application_xp_terminal.png); }
#arrow_branch { background: url(../images/embed/arrow_branch.png); }
#arrow_divide { background: url(../images/embed/arrow_divide.png); }
#arrow_down { background: url(../images/embed/arrow_down.png); }
#arrow_in { background: url(../images/embed/arrow_in.png); }
#arrow_inout { background: url(../images/embed/arrow_inout.png); }
#arrow_join { background: url(../images/embed/arrow_join.png); }
#arrow_left { background: url(../images/embed/arrow_left.png); }
#arrow_merge { background: url(../images/embed/arrow_merge.png); }
#arrow_out { background: url(../images/embed/arrow_out.png); }
#arrow_redo { background: url(../images/embed/arrow_redo.png); }
#arrow_refresh { background: url(../images/embed/arrow_refresh.png); }
#arrow_refresh_small { background: url(../images/embed/arrow_refresh_small.png); }
#arrow_right { background: url(../images/embed/arrow_right.png); }
#arrow_rotate_anticlockwise { background: url(../images/embed/arrow_rotate_anticlockwise.png); }
#arrow_rotate_clockwise { background: url(../images/embed/arrow_rotate_clockwise.png); }
#arrow_switch { background: url(../images/embed/arrow_switch.png); }
#arrow_turn_left { background: url(../images/embed/arrow_turn_left.png); }
#arrow_turn_right { background: url(../images/embed/arrow_turn_right.png); }
#arrow_undo { background: url(../images/embed/arrow_undo.png); }
#arrow_up { background: url(../images/embed/arrow_up.png); }
#asterisk_orange { background: url(../images/embed/asterisk_orange.png); }
#asterisk_yellow { background: url(../images/embed/asterisk_yellow.png); }
#attach { background: url(../images/embed/attach.png); }
#award_star_add { background: url(../images/embed/award_star_add.png); }
#award_star_bronze_1 { background: url(../images/embed/award_star_bronze_1.png); }
#award_star_bronze_2 { background: url(../images/embed/award_star_bronze_2.png); }
#award_star_bronze_3 { background: url(../images/embed/award_star_bronze_3.png); }
#award_star_delete { background: url(../images/embed/award_star_delete.png); }
#award_star_gold_1 { background: url(../images/embed/award_star_gold_1.png); }
#award_star_gold_2 { background: url(../images/embed/award_star_gold_2.png); }
#award_star_gold_3 { background: url(../images/embed/award_star_gold_3.png); }
#award_star_silver_1 { background: url(../images/embed/award_star_silver_1.png); }
#award_star_silver_2 { background: url(../images/embed/award_star_silver_2.png); }
#award_star_silver_3 { background: url(../images/embed/award_star_silver_3.png); }
#basket { background: url(../images/embed/basket.png); }
#basket_add { background: url(../images/embed/basket_add.png); }
#basket_delete { background: url(../images/embed/basket_delete.png); }
#basket_edit { background: url(../images/embed/basket_edit.png); }
#basket_error { background: url(../images/embed/basket_error.png); }
#basket_go { background: url(../images/embed/basket_go.png); }
#basket_put { background: url(../images/embed/basket_put.png); }
#basket_remove { background: url(../images/embed/basket_remove.png); }
#bell { background: url(../images/embed/bell.png); }
#bell_add { background: url(../images/embed/bell_add.png); }
#bell_delete { background: url(../images/embed/bell_delete.png); }
#bell_error { background: url(../images/embed/bell_error.png); }
#bell_go { background: url(../images/embed/bell_go.png); }
#bell_link { background: url(../images/embed/bell_link.png); }
#bin { background: url(../images/embed/bin.png); }
#bin_closed { background: url(../images/embed/bin_closed.png); }
#bin_empty { background: url(../images/embed/bin_empty.png); }
#bomb { background: url(../images/embed/bomb.png); }
#book { background: url(../images/embed/book.png); }
#book_add { background: url(../images/embed/book_add.png); }
#book_addresses { background: url(../images/embed/book_addresses.png); }
#book_delete { background: url(../images/embed/book_delete.png); }
#book_edit { background: url(../images/embed/book_edit.png); }
#book_error { background: url(../images/embed/book_error.png); }
#book_go { background: url(../images/embed/book_go.png); }
#book_key { background: url(../images/embed/book_key.png); }

