(function(){window.JST = window.JST || {};

window.JST.test1 = ('<a href="<%= to_somewhere %>"><%= saying_something %></a>');
window.JST.test2 = ('<% _([1,2,3]).each(function(num) { %>  <li class="number">    <%= num %>  </li><% }) %>');
})();