#hello {
  color: white;
  background: blue;
}
  #hello .world {
    border: 1px solid red;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 45px;
    margin-top: 45px;
  }
#another {
  color: white;
  background: blue;
}
  #css .file {
    border: 1px solid red;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 45px;
    margin-top: 45px;
  }
  #with_images {
    background: url(../embed/asterisk_yellow.png);
  }
  #and_relative_paths {
    background: url(../embed/asterisk_orange.png);
  }
  #and_real_urls {
    background: url(http://example.com/image.png);
  }