/* Üníc✪de */
#hello {
  color: white;
  background: blue;
}
  #hello .world {
    border: 1px solid red;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 45px;
    margin-top: 45px;
  }